
spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  datasource:
    url:  jdbc:mysql://127.0.0.1:3306/e3mall?characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update #\u65B0\u589E\u6570\u636E\u5E93\u94FE\u63A5\u5FC5\u5907\u7684\u53C2\u6570

# pageHelper分页配置
pagehelper:
  helper-dialect: mysql
  reasonable: false
  support-methods-arguments: true
  params: count=countSql






